* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    height: 90vh;
    transition: all .1s ease-in-out;
    width: 100vw;
}

.content {
    font-family: 'Roboto';
    background-color: rgb(253, 250, 253);
    border-bottom-left-radius: 99px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    width: 100%;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    color: rgb(50, 51, 50);
    padding-bottom: 5px;
    padding-top: 5px;
}